.hidden {
  display: none;
}
.moonIcon {
  background-color: var(--themebtn-color);
}
.sunIcon {
  background-color: var(--themebtn-color);
}
.moonIcon:hover {
  cursor: pointer;
}
.sunIcon:hover {
  cursor: pointer;
}
