*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  font-size: 15px;
}
:root {
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --slightly-transparent-white-p: hsla(0, 0%, 100%, 0.75);
  --slightly-transparent-white-h: hsla(0, 0%, 100%, 0.6);
}
body {
  font-family: 'Inter';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--very-dark-blue);
}
.desktop-header-img {
  display: none;
}
.container {
  max-height: 52rem;
  max-width: 21.8rem;
  background-color: var(--dark-desaturated-blue);
  border-radius: 0.8rem;
}
.mobile-header-img {
  max-height: 16rem;
  display: block;
  border-radius: 0.8rem 0.8rem 0 0;
}
.image-wrapper {
  position: relative;
}
.overlay-color {
  position: absolute;
  inset: 0;
  background-color: hsla(277, 64%, 61%, 90%);
  border-radius: 0.8rem 0.8rem 0 0;
}
.info-container {
  padding: 2.666rem;
}
.info-container h1 {
  color: var(--white);
  margin-bottom: 0.933rem;
  text-align: center;
  font-size: 1.7rem;
  letter-spacing: 0.01rem;
}
.info-container h1 > span {
  color: var(--soft-violet);
}
.info-container > p:nth-child(2) {
  text-align: center;
  color: var(--slightly-transparent-white-p);
  font-size: 0.94rem;
  line-height: 1.8;
  font-weight: 300;
  margin-bottom: 3rem;
}
.stat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stat-container p {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
  margin-bottom: 2.077rem;
}
.stat-container p > span {
  font-size: 0.65rem;
  font-family: 'Lexend Deca';
  color: var(--slightly-transparent-white-h);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.12rem;
  margin-top: 0.466rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--slightly-transparent-white-p);
  margin-top: 1rem;
}
.attribution a {
  color: var(--white);
}

@media only screen and (min-width: 60rem) {
  .container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 74rem;
    max-height: 29.733rem;
  }
  .mobile-header-img {
    display: none;
  }
  .desktop-header-img {
    display: block;
    max-width: 36rem;
    border-radius: 0rem 0.8rem 0.8rem 0rem;
  }
  .overlay-color {
    border-radius: 0rem 0.8rem 0.8rem 0rem;
    mix-blend-mode: multiply;
  }
  .info-container {
    padding: 4.466rem 6.5rem 4.66rem 4.66rem;
  }
  .info-container h1 {
    text-align: left;
    font-size: 2.5rem;
    margin-bottom: 1.533rem;
    padding-right: 1rem;
  }
  .info-container > p:nth-child(2) {
    text-align: left;
    font-size: 0.99rem;
    padding-right: 3rem;
    line-height: 1.6;
    margin-bottom: 5.266rem;
  }
  .stat-container {
    flex-direction: row;
  }
  .stat-container p {
    margin-right: 3.933rem;
    align-items: flex-start;
    margin-bottom: 0;
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 0.09rem;
  }
  .stat-container p > span {
    font-size: 0.75rem;
  }
}
