*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-size: 18px;
}

:root {
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
  --light-red: hsl(0, 100%, 67%);
  --orange-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
  background-color: var(--pale-blue);
  display: flex;
  justify-content: center;
  /* height: 100vh; */

  /* border: solid 2px red; */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  /* border-radius: 2rem; */
}

/* Score */

.score-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(
    to bottom,
    var(--light-slate-blue),
    var(--light-royal-blue)
  );
  border-radius: 0 0 2rem 2rem;
  padding: 1.5rem 2.5rem 1rem;
}
.result {
  font-size: 1rem;
  color: var(--light-lavender);
  font-weight: 700;
  /* margin: 1rem; */
}
.overall-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 2.625rem;
  max-width: 8.75rem;
  /* width: 8.3rem;
  height: 8.3rem; */
  background: linear-gradient(to top, var(--persian-blue), var(--violet-blue));
  border-radius: 50%;
  margin-top: 1rem;
}
.overall-score h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--white);
}
.overall-score p {
  color: hsla(241, 100%, 89%, 60%);
  font-weight: 700;
  line-height: 1.1;
  font-size: 1rem;
  opacity: 0.5;
}

.score-p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--light-lavender);
  margin: 0.5rem;
}
.score-board h3 {
  color: var(--white);
  margin-top: 1rem;
}

/* Summary */

.summary-board {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.8rem 1.8rem;
  width: 100%;
}
.summary-p {
  color: var(--dark-gray-blue);
  font-weight: 700;
  margin-bottom: 1rem;
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.2rem;
}

.reaction,
.memory,
.verbal,
.visual {
  display: flex;
  justify-content: space-between;
  border-radius: 0.8rem;
  padding: 1rem;
}
.icon-p {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}
.icon-p p {
  font-size: 0.85rem;
  font-weight: 700;
}
.reaction {
  color: var(--light-red);
  background-color: hsla(0, 100%, 67%, 6%);
}
.memory {
  color: var(--orange-yellow);
  background-color: hsla(39, 100%, 56%, 6%);
}

.verbal {
  color: var(--green-teal);
  background-color: hsla(166, 100%, 37%, 6%);
}

.visual {
  color: var(--cobalt-blue);
  background-color: hsla(234, 85%, 45%, 6%);
}

.reaction-score,
.memory-score,
.verbal-score,
.visual-score {
  text-align: right;
  color: var(--dark-gray-blue);
  font-weight: 700;
  font-size: 0.9rem;
}

.score-limit {
  color: hsla(224, 30%, 27%, 60%);
}

.continue-btn {
  color: var(--white);
  background-color: var(--dark-gray-blue);
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  font-size: 0.9rem;
}
.continue-btn:hover {
  background: linear-gradient(
    to top,
    var(--light-royal-blue),
    var(--light-slate-blue)
  );
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 40rem) {
  body {
    align-items: center;
    padding: 0 1rem;
    height: 100vh;
  }
  .container {
    flex-direction: row;
    align-items: stretch;
    min-height: 512px;
    min-width: 736px;
    border-radius: 2rem;
    box-shadow: 0.8rem 0.8rem 2rem hsla(224, 30%, 27%, 10%);
  }
  .score-board {
    border-radius: 2rem 2rem 2rem 2rem;
    padding: 2.4rem 1.8rem;
    justify-content: stretch;
    max-width: 368px;
    /* height: 100%; */
    /* align-items: stretch; */
  }
  .result {
    font-size: 1.3rem;
  }
  .score-board h3 {
    font-size: 1.5rem;
  }
  .overall-score {
    margin-top: 1.6rem;
    max-width: 20rem;
    height: 10rem;
    border-radius: 50%;
  }
  .overall-score h1 {
    font-size: 4.2rem;
  }
  .overall-score p {
    font-size: 1.1rem;
  }
  .score-p {
    margin: 1.1rem;
    font-size: 1rem;
    text-align: center;
    text-wrap: wrap;
    /* margin-top: 1.1rem; */
  }
  .summary-board {
    /* width: 80%; */
    max-width: 368px;
    padding: 2.4rem 2.2rem 0;
  }
  .summary-p {
    font-size: 1.3rem;
  }
  .summary {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }
  .reaction,
  .memory,
  .verbal,
  .visual {
    max-height: 54px;
    border-radius: 0.4rem;
    padding: 1rem;
  }
  .icon-p p {
    font-size: 0.9rem;
    font-weight: 500;
  }
  .continue-btn {
    font-size: 1rem;
    padding: 0.75rem;
    font-weight: 550;
  }
}
