*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Red Hat Display';
  font-size: 16px;
}

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}
body {
  background-color: var(--pale-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('./images/pattern-background-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  background-color: white;
  max-width: 20.4375rem;
  max-height: 35.4375rem;
  border-radius: 0.75rem;
  box-shadow: 0 2px 20px hsla(245, 75%, 52%, 20%);
}
.illustration-img {
  max-width: 20.4375rem;
  max-height: 10rem;
  border-radius: 0.75rem 0.75rem 0 0;
  display: block;
}
.order-info {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.order-info h1 {
  font-size: 1.3rem;
  font-weight: 900;
  margin-bottom: 1.062rem;
}
.order-info > p:nth-child(2) {
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.6;
  font-weight: 600;
  color: var(--desaturated-blue);
  padding: 0 1rem;
  margin-bottom: 1.5rem;
}
.plan-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--very-pale-blue);
  width: 100%;
  border-radius: 0.8rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
}
.music-icon {
  max-width: 3rem;
  max-height: 3rem;
}
.plan-amount > p:first-child {
  font-weight: 900;
  margin-bottom: 0.1rem;
  font-size: 0.88rem;
}
.plan-amount > p:last-child {
  font-weight: 600;
  margin-bottom: 0.1rem;
  font-size: 0.88rem;
  color: var(--desaturated-blue);
}
.plan-info > p:last-child {
  color: var(--bright-blue);
  font-size: 0.8rem;
  font-weight: 900;
  text-decoration: underline;
  margin-left: 1.5rem;
}
.plan-info > p:last-child:hover {
  color: rgba(118, 108, 241, 1);
  cursor: pointer;
}
button {
  height: 3.125rem;
  width: 100%;
  background-color: var(--bright-blue);
  border: none;
  border-radius: 1.2rem;
  color: white;
  font-family: 'Red Hat Display';
  font-size: 0.9rem;
  font-weight: 800;
  margin-bottom: 1.4375rem;
  box-shadow: 0 10px 20px hsla(245, 75%, 52%, 25%);
}
button:hover {
  background-color: rgba(118, 108, 241, 1);
  cursor: pointer;
}

.order-info > p:last-child {
  font-size: 0.8rem;
  font-weight: 900;
  color: var(--desaturated-blue);
}
.order-info > p:last-child:hover {
  color: var(--dark-blue);
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media only screen and (min-width: 56.25rem) {
  body {
    background-image: url('./images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .container {
    max-width: 28.125rem;
    max-height: 43.5625rem;
  }
  .illustration-img {
    max-width: 28.125rem;
    max-height: 13.75rem;
    display: block;
  }
  .order-info {
    padding: 3rem;
  }
  .order-info h1 {
    font-size: 1.6rem;
  }
  .order-info > p:nth-child(2) {
    padding: 0 2rem;
  }
  .music-icon {
    max-width: 2.7rem;
    max-height: 2.7rem;
  }
  .plan-info {
    padding: 1.7rem;
  }
  .plan-info > p:last-child {
    margin-left: 4.5rem;
    font-size: 0.9rem;
  }
  .plan-amount > p:first-child {
    font-size: 1rem;
  }
  .plan-amount > p:last-child {
    font-size: 1rem;
  }
}
